<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'show.css' %}">
    <title>Show Data</title>
</head>
<body>
    {{msg}}
    <h2 id="head">Show All Data</h2>
    <div id="SecondDiv">
        <form action="/">
            <input class="button" type="Submit" value="<< Back">
        </form>
    </div>
    <div id="OneDiv">
        <table>
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Section</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            {% for d in data %}
                <tr>
                    <td>{{d.ID}}</td>
                    <td>{{d.data1}}</td>
                    <td>{{d.data2}}</td>
                    <td>
                        <a href="/edit?id={{d.ID}}"><img src="https://imgs.search.brave.com/VK-B4F-C4SjosS8jtUMiS6_LdpKkxWQtU8qecsuZNIY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pY29u/cy5pY29uYXJjaGl2/ZS5jb20vaWNvbnMv/Y3VzdG9tLWljb24t/ZGVzaWduL2ZsYXRh/c3RpYy0xLzEyOC9l/ZGl0LWljb24ucG5n" width="30" height="30"></a>
                    </td>
                    <td><a href="/delete?id={{d.ID}}"><img src="https://imgs.search.brave.com/KcGwmIVLWjt4WI-FU4__I31sYh2T7_J6H_nRl0ZYdao/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4t/aWNvbnMtcG5nLmZs/YXRpY29uLmNvbS8x/MjgvNjg2MS82ODYx/MzYyLnBuZw" width="30" height="30"></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>